*{
    margin: 0;
    padding: 0;
    box-sizing: 0;

}

#fondo{
    position: fixed;
    min-height: 100%;
    min-width: 100%;
    opacity: 0.9;
    z-index: -1;

}
.contenedor{
    width: 80%;
    margin: auto;
    padding-top: 13px;
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
}

.contenedor>*{
    width: 100%;
    border: 2px solid white;
    border-radius:6px ;
    box-shadow: white 8px 8px 8px;
}
@media(min-width:800px){
    .contenedor{
        grid-template-columns:1fr 1fr;
        background-color: aqua;
    }
    audio{
        grid-column: 1/span 2;
    }
}