
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.contenedor{
    width: 100%;
    background-color: bisque;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.elemento{
    background-color: brown;
    color: white;
border: 1px solid white;
padding: 5px;
width: calc((100%)/4);
height: 50px;
display: flex;
justify-content: center;
align-items: center;
}