table{
    width: 600px;
    margin: auto;
}

caption{
    font-size: 20px;
    background-color: antiquewhite;
    color: brown;
}

th{
    background-color: cornflowerblue;
    color: white;
}

/*tr{
    background-color: gainsboro;
}*/
tbody tr:nth-child(odd){
    background-color: gainsboro;
}
tfoot{
    background-color: beige;
    color:crimson;

}

td{
    text-align: center;
}